/* CSS Styles */
body{
	
	
  
}

a:link {
  color: red;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: red;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #1FC7C5;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #1FC7C5;
  background-color: transparent;
  text-decoration: underline;
}



html{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-image: url("whyBrian.jpg");
	background-color: #108C74;
}
h1{
	border-width: 10px;
	border-style: outset;
	border-color: green;
	padding: 10px 10px 10px 10px;
	font-family: 'Archivo Black', sans-serif;
	color: Black;
	background-color:#20a106;
	line-height: 1.2;
}
head{
	
}

p {
	border-width: 10px;
	border-style: outset;
	border-color: teal;
	padding: 10px 10px 10px 10px;
	font-family: 'Press Start 2P', cursive;
	color: red;
	background-color:#1FC7C5;
	line-height: 1.2;
}

div {
	border-width: 10px;
	border-style: outset;
	border-color: #660909;
	padding: 20px 20px 20px 20px;
	font-family: 'Press Start 2P', cursive;
	color: red;
	line-height: 1.2;
	background-color: #960f0f;
	
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.b1{
	border-width: 10px;
	border-style: outset;
	border-color: teal;
	padding: 10px 10px 10px 10px;
	font-family: 'Press Start 2P', cursive;
	color: red;
	background-color:#1FC7C5;
	line-height: 1.2;
}

